body {
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center; /* Centers vertically */
}


@media only screen and (max-width: 320px) {
  html,body{
  display:none;
  }
  }